In [2]:
import pandas as pd

In [3]:
csv_name = "data_raw/dhw_5km_db8d_5daf_80ed.csv"

In [4]:
df = pd.read_csv(csv_name, index_col=False)
df.head()

,time,latitude,longitude,CRW_BAA,CRW_BAA_mask,CRW_BAA_7D_MAX,CRW_BAA_7D_MAX_mask,CRW_DHW,CRW_DHW_mask,CRW_HOTSPOT,CRW_HOTSPOT_mask,CRW_SST,CRW_SSTANOMALY,CRW_SSTANOMALY_mask
0,2022-05-27T12:00:00Z,18.375,-65.625,0,0,0,0,0.0,0,-0.98,0,27.57,0.34,0
1,2022-05-27T12:00:00Z,18.375,-65.575,0,0,0,0,0.0,0,-0.96,0,27.58,0.34,0
2,2022-05-27T12:00:00Z,18.375,-65.525,0,0,0,0,0.0,0,-0.95,0,27.58,0.33,0
3,2022-05-27T12:00:00Z,18.325,-65.625,0,0,0,0,0.0,0,-0.88,0,27.68,0.41,0
4,2022-05-27T12:00:00Z,18.325,-65.575,0,0,0,0,0.0,0,-0.86,0,27.69,0.41,0

In [5]:
df.columns.str.strip().str.lower()

Index(['time', 'latitude', 'longitude', 'crw_baa', 'crw_baa_mask',
       'crw_baa_7d_max', 'crw_baa_7d_max_mask', 'crw_dhw', 'crw_dhw_mask',
       'crw_hotspot', 'crw_hotspot_mask', 'crw_sst', 'crw_sstanomaly',
       'crw_sstanomaly_mask'],
      dtype='object')

In [6]:
df['time'] = pd.to_datetime(df['time']).dt.date
df.head()

,time,latitude,longitude,CRW_BAA,CRW_BAA_mask,CRW_BAA_7D_MAX,CRW_BAA_7D_MAX_mask,CRW_DHW,CRW_DHW_mask,CRW_HOTSPOT,CRW_HOTSPOT_mask,CRW_SST,CRW_SSTANOMALY,CRW_SSTANOMALY_mask
0,2022-05-27,18.375,-65.625,0,0,0,0,0.0,0,-0.98,0,27.57,0.34,0
1,2022-05-27,18.375,-65.575,0,0,0,0,0.0,0,-0.96,0,27.58,0.34,0
2,2022-05-27,18.375,-65.525,0,0,0,0,0.0,0,-0.95,0,27.58,0.33,0
3,2022-05-27,18.325,-65.625,0,0,0,0,0.0,0,-0.88,0,27.68,0.41,0
4,2022-05-27,18.325,-65.575,0,0,0,0,0.0,0,-0.86,0,27.69,0.41,0

In [9]:
df = df.rename(columns={'time': 'date'}, errors='raise')
df.columns

Index(['date', 'latitude', 'longitude', 'CRW_BAA', 'CRW_BAA_mask',
       'CRW_BAA_7D_MAX', 'CRW_BAA_7D_MAX_mask', 'CRW_DHW', 'CRW_DHW_mask',
       'CRW_HOTSPOT', 'CRW_HOTSPOT_mask', 'CRW_SST', 'CRW_SSTANOMALY',
       'CRW_SSTANOMALY_mask'],
      dtype='object')

In [13]:
for i in range(len(df.index)) :
    print(" Total NaN in row", i + 1, ":",
          df.iloc[i].isnull().sum())

 Total NaN in row 1 : 0
 Total NaN in row 2 : 0
 Total NaN in row 3 : 0
 Total NaN in row 4 : 0
 Total NaN in row 5 : 0
 Total NaN in row 6 : 0
 Total NaN in row 7 : 0
 Total NaN in row 8 : 0
 Total NaN in row 9 : 0
 Total NaN in row 10 : 0
 Total NaN in row 11 : 0
 Total NaN in row 12 : 0
 Total NaN in row 13 : 0
 Total NaN in row 14 : 0
 Total NaN in row 15 : 0
 Total NaN in row 16 : 0
 Total NaN in row 17 : 0
 Total NaN in row 18 : 0
 Total NaN in row 19 : 0
 Total NaN in row 20 : 0
 Total NaN in row 21 : 0
 Total NaN in row 22 : 0
 Total NaN in row 23 : 0
 Total NaN in row 24 : 0
 Total NaN in row 25 : 0
 Total NaN in row 26 : 0
 Total NaN in row 27 : 0
 Total NaN in row 28 : 0
 Total NaN in row 29 : 0
 Total NaN in row 30 : 0
 Total NaN in row 31 : 0
 Total NaN in row 32 : 0
 Total NaN in row 33 : 0
 Total NaN in row 34 : 0
 Total NaN in row 35 : 0
 Total NaN in row 36 : 0
 Total NaN in row 37 : 0
 Total NaN in row 38 : 0
 Total NaN in row 39 : 0
 Total NaN in row 40 : 0
 Total NaN in row 41 : 0
 Total NaN in row 42 : 0
 Total NaN in row 43 : 0
 Total NaN in row 44 : 0
 Total NaN in row 45 : 0
 Total NaN in row 46 : 0
 Total NaN in row 47 : 0
 Total NaN in row 48 : 0
 Total NaN in row 49 : 0
 Total NaN in row 50 : 0
 Total NaN in row 51 : 0
 Total NaN in row 52 : 0
 Total NaN in row 53 : 0
 Total NaN in row 54 : 0
 Total NaN in row 55 : 0
 Total NaN in row 56 : 0
 Total NaN in row 57 : 0
 Total NaN in row 58 : 0
 Total NaN in row 59 : 0
 Total NaN in row 60 : 0
 Total NaN in row 61 : 0
 Total NaN in row 62 : 0
 Total NaN in row 63 : 0
 Total NaN in row 64 : 0
 Total NaN in row 65 : 0
 Total NaN in row 66 : 0
 Total NaN in row 67 : 0
 Total NaN in row 68 : 0
 Total NaN in row 69 : 0
 Total NaN in row 70 : 0
 Total NaN in row 71 : 0
 Total NaN in row 72 : 0
 Total NaN in row 73 : 0
 Total NaN in row 74 : 0
 Total NaN in row 75 : 0
 Total NaN in row 76 : 0
 Total NaN in row 77 : 0
 Total NaN in row 78 : 0
 Total NaN in row 79 : 0
 Total NaN in row 80 : 0
 Total NaN in row 81 : 0
 Total NaN in row 82 : 0
 Total NaN in row 83 : 0
 Total NaN in row 84 : 0
 Total NaN in row 85 : 0
 Total NaN in row 86 : 0
 Total NaN in row 87 : 0
 Total NaN in row 88 : 0
 Total NaN in row 89 : 0
 Total NaN in row 90 : 0
 Total NaN in row 91 : 0
 Total NaN in row 92 : 0
 Total NaN in row 93 : 0
 Total NaN in row 94 : 0
 Total NaN in row 95 : 0
 Total NaN in row 96 : 0
 Total NaN in row 97 : 0
 Total NaN in row 98 : 0
 Total NaN in row 99 : 0
 Total NaN in row 100 : 0
 Total NaN in row 101 : 0
 Total NaN in row 102 : 0
 Total NaN in row 103 : 0
 Total NaN in row 104 : 0
 Total NaN in row 105 : 0
 Total NaN in row 106 : 0
 Total NaN in row 107 : 0
 Total NaN in row 108 : 0
 Total NaN in row 109 : 0
 Total NaN in row 110 : 0
 Total NaN in row 111 : 0
 Total NaN in row 112 : 0
 Total NaN in row 113 : 0
 Total NaN in row 114 : 0
 Total NaN in row 115 : 0
 Total NaN in row 116 : 0
 Total NaN in row 117 : 0
 Total NaN in row 118 : 0
 Total NaN in row 119 : 0
 Total NaN in row 120 : 0
 Total NaN in row 121 : 0
 Total NaN in row 122 : 0
 Total NaN in row 123 : 0
 Total NaN in row 124 : 0
 Total NaN in row 125 : 0
 Total NaN in row 126 : 0
 Total NaN in row 127 : 0
 Total NaN in row 128 : 0
 Total NaN in row 129 : 0
 Total NaN in row 130 : 0
 Total NaN in row 131 : 0
 Total NaN in row 132 : 0
 Total NaN in row 133 : 0
 Total NaN in row 134 : 0
 Total NaN in row 135 : 0
 Total NaN in row 136 : 0
 Total NaN in row 137 : 0
 Total NaN in row 138 : 0
 Total NaN in row 139 : 0
 Total NaN in row 140 : 0
 Total NaN in row 141 : 0
 Total NaN in row 142 : 0
 Total NaN in row 143 : 0
 Total NaN in row 144 : 0
 Total NaN in row 145 : 0
 Total NaN in row 146 : 0
 Total NaN in row 147 : 0
 Total NaN in row 148 : 0
 Total NaN in row 149 : 0
 Total NaN in row 150 : 0
 Total NaN in row 151 : 0
 Total NaN in row 152 : 0
 Total NaN in row 153 : 0
 Total NaN in row 154 : 0
 Total NaN in row 155 : 0
 Total NaN in row 156 : 0
 Total NaN in row 157 : 0
 Total NaN in row 158 : 0
 Total NaN in row 159 : 0
 Total NaN in row 160 : 0
 Total NaN in row 161 : 0
 Total NaN in row 162 : 0
 Total NaN in row 163 : 0
 Total NaN in row 164 : 0
 Total NaN in row 165 : 0
 Total NaN in row 166 : 0
 Total NaN in row 167 : 0
 Total NaN in row 168 : 0
 Total NaN in row 169 : 0
 Total NaN in row 170 : 0
 Total NaN in row 171 : 0
 Total NaN in row 172 : 0
 Total NaN in row 173 : 0
 Total NaN in row 174 : 0
 Total NaN in row 175 : 0
 Total NaN in row 176 : 0
 Total NaN in row 177 : 0
 Total NaN in row 178 : 0
 Total NaN in row 179 : 0
 Total NaN in row 180 : 0
 Total NaN in row 181 : 0
 Total NaN in row 182 : 0
 Total NaN in row 183 : 0
 Total NaN in row 184 : 0
 Total NaN in row 185 : 0
 Total NaN in row 186 : 0
 Total NaN in row 187 : 0
 Total NaN in row 188 : 0
 Total NaN in row 189 : 0
 Total NaN in row 190 : 0
 Total NaN in row 191 : 0
 Total NaN in row 192 : 0
 Total NaN in row 193 : 0
 Total NaN in row 194 : 0
 Total NaN in row 195 : 0
 Total NaN in row 196 : 0
 Total NaN in row 197 : 0
 Total NaN in row 198 : 0
 Total NaN in row 199 : 0
 Total NaN in row 200 : 0
 Total NaN in row 201 : 0
 Total NaN in row 202 : 0
 Total NaN in row 203 : 0
 Total NaN in row 204 : 0
 Total NaN in row 205 : 0
 Total NaN in row 206 : 0
 Total NaN in row 207 : 0
 Total NaN in row 208 : 0
 Total NaN in row 209 : 0
 Total NaN in row 210 : 0
 Total NaN in row 211 : 0
 Total NaN in row 212 : 0
 Total NaN in row 213 : 0
 Total NaN in row 214 : 0
 Total NaN in row 215 : 0
 Total NaN in row 216 : 0
 Total NaN in row 217 : 0
 Total NaN in row 218 : 0
 Total NaN in row 219 : 0
 Total NaN in row 220 : 0
 Total NaN in row 221 : 0
 Total NaN in row 222 : 0
 Total NaN in row 223 : 0
 Total NaN in row 224 : 0
 Total NaN in row 225 : 0
 Total NaN in row 226 : 0
 Total NaN in row 227 : 0
 Total NaN in row 228 : 0
 Total NaN in row 229 : 0
 Total NaN in row 230 : 0
 Total NaN in row 231 : 0
 Total NaN in row 232 : 0
 Total NaN in row 233 : 0
 Total NaN in row 234 : 0
 Total NaN in row 235 : 0
 Total NaN in row 236 : 0
 Total NaN in row 237 : 0
 Total NaN in row 238 : 0
 Total NaN in row 239 : 0
 Total NaN in row 240 : 0
 Total NaN in row 241 : 0
 Total NaN in row 242 : 0
 Total NaN in row 243 : 0
 Total NaN in row 244 : 0
 Total NaN in row 245 : 0
 Total NaN in row 246 : 0
 Total NaN in row 247 : 0
 Total NaN in row 248 : 0
 Total NaN in row 249 : 0
 Total NaN in row 250 : 0
 Total NaN in row 251 : 0
 Total NaN in row 252 : 0
 Total NaN in row 253 : 0
 Total NaN in row 254 : 0
 Total NaN in row 255 : 0
 Total NaN in row 256 : 0
 Total NaN in row 257 : 0
 Total NaN in row 258 : 0
 Total NaN in row 259 : 0
 Total NaN in row 260 : 0
 Total NaN in row 261 : 0
 Total NaN in row 262 : 0
 Total NaN in row 263 : 0
 Total NaN in row 264 : 0
 Total NaN in row 265 : 0
 Total NaN in row 266 : 0
 Total NaN in row 267 : 0
 Total NaN in row 268 : 0
 Total NaN in row 269 : 0
 Total NaN in row 270 : 0
 Total NaN in row 271 : 0
 Total NaN in row 272 : 0
 Total NaN in row 273 : 0
 Total NaN in row 274 : 0
 Total NaN in row 275 : 0
 Total NaN in row 276 : 0
 Total NaN in row 277 : 0
 Total NaN in row 278 : 0
 Total NaN in row 279 : 0
 Total NaN in row 280 : 0
 Total NaN in row 281 : 0
 Total NaN in row 282 : 0
 Total NaN in row 283 : 0
 Total NaN in row 284 : 0
 Total NaN in row 285 : 0
 Total NaN in row 286 : 0
 Total NaN in row 287 : 0
 Total NaN in row 288 : 0
 Total NaN in row 289 : 0
 Total NaN in row 290 : 0
 Total NaN in row 291 : 0
 Total NaN in row 292 : 0
 Total NaN in row 293 : 0
 Total NaN in row 294 : 0
 Total NaN in row 295 : 0
 Total NaN in row 296 : 0
 Total NaN in row 297 : 0
 Total NaN in row 298 : 0
 Total NaN in row 299 : 0
 Total NaN in row 300 : 0
 Total NaN in row 301 : 0
 Total NaN in row 302 : 0
 Total NaN in row 303 : 0
 Total NaN in row 304 : 0
 Total NaN in row 305 : 0
 Total NaN in row 306 : 0
 Total NaN in row 307 : 0
 Total NaN in row 308 : 0
 Total NaN in row 309 : 0
 Total NaN in row 310 : 0
 Total NaN in row 311 : 0
 Total NaN in row 312 : 0
 Total NaN in row 313 : 0
 Total NaN in row 314 : 0
 Total NaN in row 315 : 0
 Total NaN in row 316 : 0
 Total NaN in row 317 : 0
 Total NaN in row 318 : 0
 Total NaN in row 319 : 0
 Total NaN in row 320 : 0
 Total NaN in row 321 : 0
 Total NaN in row 322 : 0
 Total NaN in row 323 : 0
 Total NaN in row 324 : 0
 Total NaN in row 325 : 0
 Total NaN in row 326 : 0
 Total NaN in row 327 : 0
 Total NaN in row 328 : 0
 Total NaN in row 329 : 0
 Total NaN in row 330 : 0
 Total NaN in row 331 : 0
 Total NaN in row 332 : 0
 Total NaN in row 333 : 0
 Total NaN in row 334 : 0
 Total NaN in row 335 : 0
 Total NaN in row 336 : 0
 Total NaN in row 337 : 0
 Total NaN in row 338 : 0
 Total NaN in row 339 : 0
 Total NaN in row 340 : 0
 Total NaN in row 341 : 0
 Total NaN in row 342 : 0
 Total NaN in row 343 : 0
 Total NaN in row 344 : 0
 Total NaN in row 345 : 0
 Total NaN in row 346 : 0
 Total NaN in row 347 : 0
 Total NaN in row 348 : 0
 Total NaN in row 349 : 0
 Total NaN in row 350 : 0
 Total NaN in row 351 : 0
 Total NaN in row 352 : 0
 Total NaN in row 353 : 0
 Total NaN in row 354 : 0
 Total NaN in row 355 : 0
 Total NaN in row 356 : 0
 Total NaN in row 357 : 0
 Total NaN in row 358 : 0
 Total NaN in row 359 : 0
 Total NaN in row 360 : 0
 Total NaN in row 361 : 0
 Total NaN in row 362 : 0
 Total NaN in row 363 : 0
 Total NaN in row 364 : 0
 Total NaN in row 365 : 0
 Total NaN in row 366 : 0
 Total NaN in row 367 : 0
 Total NaN in row 368 : 0
 Total NaN in row 369 : 0
 Total NaN in row 370 : 0
 Total NaN in row 371 : 0
 Total NaN in row 372 : 0
 Total NaN in row 373 : 0
 Total NaN in row 374 : 0
 Total NaN in row 375 : 0
 Total NaN in row 376 : 0
 Total NaN in row 377 : 0
 Total NaN in row 378 : 0
 Total NaN in row 379 : 0
 Total NaN in row 380 : 0
 Total NaN in row 381 : 0
 Total NaN in row 382 : 0
 Total NaN in row 383 : 0
 Total NaN in row 384 : 0
 Total NaN in row 385 : 0
 Total NaN in row 386 : 0
 Total NaN in row 387 : 0
 Total NaN in row 388 : 0
 Total NaN in row 389 : 0
 Total NaN in row 390 : 0
 Total NaN in row 391 : 0
 Total NaN in row 392 : 0
 Total NaN in row 393 : 0
 Total NaN in row 394 : 0
 Total NaN in row 395 : 0
 Total NaN in row 396 : 0
 Total NaN in row 397 : 0
 Total NaN in row 398 : 0
 Total NaN in row 399 : 0
 Total NaN in row 400 : 0
 Total NaN in row 401 : 0
 Total NaN in row 402 : 0
 Total NaN in row 403 : 0
 Total NaN in row 404 : 0
 Total NaN in row 405 : 0
 Total NaN in row 406 : 0
 Total NaN in row 407 : 0
 Total NaN in row 408 : 0
 Total NaN in row 409 : 0
 Total NaN in row 410 : 0
 Total NaN in row 411 : 0
 Total NaN in row 412 : 0
 Total NaN in row 413 : 0
 Total NaN in row 414 : 0
 Total NaN in row 415 : 0
 Total NaN in row 416 : 0
 Total NaN in row 417 : 0
 Total NaN in row 418 : 0
 Total NaN in row 419 : 0
 Total NaN in row 420 : 0
 Total NaN in row 421 : 0
 Total NaN in row 422 : 0
 Total NaN in row 423 : 0
 Total NaN in row 424 : 0
 Total NaN in row 425 : 0
 Total NaN in row 426 : 0
 Total NaN in row 427 : 0
 Total NaN in row 428 : 0
 Total NaN in row 429 : 0
 Total NaN in row 430 : 0
 Total NaN in row 431 : 0
 Total NaN in row 432 : 0
 Total NaN in row 433 : 0
 Total NaN in row 434 : 0
 Total NaN in row 435 : 0
 Total NaN in row 436 : 0
 Total NaN in row 437 : 0
 Total NaN in row 438 : 0
 Total NaN in row 439 : 0
 Total NaN in row 440 : 0
 Total NaN in row 441 : 0
 Total NaN in row 442 : 0
 Total NaN in row 443 : 0
 Total NaN in row 444 : 0
 Total NaN in row 445 : 0
 Total NaN in row 446 : 0
 Total NaN in row 447 : 0
 Total NaN in row 448 : 0
 Total NaN in row 449 : 0
 Total NaN in row 450 : 0
 Total NaN in row 451 : 0
 Total NaN in row 452 : 0
 Total NaN in row 453 : 0
 Total NaN in row 454 : 0
 Total NaN in row 455 : 0
 Total NaN in row 456 : 0
 Total NaN in row 457 : 0
 Total NaN in row 458 : 0
 Total NaN in row 459 : 0
 Total NaN in row 460 : 0
 Total NaN in row 461 : 0
 Total NaN in row 462 : 0
 Total NaN in row 463 : 0
 Total NaN in row 464 : 0
 Total NaN in row 465 : 0
 Total NaN in row 466 : 0
 Total NaN in row 467 : 0
 Total NaN in row 468 : 0
 Total NaN in row 469 : 0
 Total NaN in row 470 : 0
 Total NaN in row 471 : 0
 Total NaN in row 472 : 0
 Total NaN in row 473 : 0
 Total NaN in row 474 : 0
 Total NaN in row 475 : 0
 Total NaN in row 476 : 0
 Total NaN in row 477 : 0
 Total NaN in row 478 : 0
 Total NaN in row 479 : 0
 Total NaN in row 480 : 0
 Total NaN in row 481 : 0
 Total NaN in row 482 : 0
 Total NaN in row 483 : 0
 Total NaN in row 484 : 0
 Total NaN in row 485 : 0
 Total NaN in row 486 : 0
 Total NaN in row 487 : 0
 Total NaN in row 488 : 0
 Total NaN in row 489 : 0
 Total NaN in row 490 : 0
 Total NaN in row 491 : 0
 Total NaN in row 492 : 0
 Total NaN in row 493 : 0
 Total NaN in row 494 : 0
 Total NaN in row 495 : 0
 Total NaN in row 496 : 0
 Total NaN in row 497 : 0
 Total NaN in row 498 : 0
 Total NaN in row 499 : 0
 Total NaN in row 500 : 0
 Total NaN in row 501 : 0
 Total NaN in row 502 : 0
 Total NaN in row 503 : 0
 Total NaN in row 504 : 0
 Total NaN in row 505 : 0
 Total NaN in row 506 : 0
 Total NaN in row 507 : 0
 Total NaN in row 508 : 0
 Total NaN in row 509 : 0
 Total NaN in row 510 : 0
 Total NaN in row 511 : 0
 Total NaN in row 512 : 0
 Total NaN in row 513 : 0
 Total NaN in row 514 : 0
 Total NaN in row 515 : 0
 Total NaN in row 516 : 0
 Total NaN in row 517 : 0
 Total NaN in row 518 : 0
 Total NaN in row 519 : 0
 Total NaN in row 520 : 0
 Total NaN in row 521 : 0
 Total NaN in row 522 : 0
 Total NaN in row 523 : 0
 Total NaN in row 524 : 0
 Total NaN in row 525 : 0
 Total NaN in row 526 : 0
 Total NaN in row 527 : 0
 Total NaN in row 528 : 0
 Total NaN in row 529 : 0
 Total NaN in row 530 : 0
 Total NaN in row 531 : 0
 Total NaN in row 532 : 0
 Total NaN in row 533 : 0
 Total NaN in row 534 : 0
 Total NaN in row 535 : 0
 Total NaN in row 536 : 0
 Total NaN in row 537 : 0
 Total NaN in row 538 : 0
 Total NaN in row 539 : 0
 Total NaN in row 540 : 0
 Total NaN in row 541 : 0
 Total NaN in row 542 : 0
 Total NaN in row 543 : 0
 Total NaN in row 544 : 0
 Total NaN in row 545 : 0
 Total NaN in row 546 : 0
 Total NaN in row 547 : 0
 Total NaN in row 548 : 0
 Total NaN in row 549 : 0
 Total NaN in row 550 : 0
 Total NaN in row 551 : 0
 Total NaN in row 552 : 0
 Total NaN in row 553 : 0
 Total NaN in row 554 : 0
 Total NaN in row 555 : 0
 Total NaN in row 556 : 0
 Total NaN in row 557 : 0
 Total NaN in row 558 : 0
 Total NaN in row 559 : 0
 Total NaN in row 560 : 0
 Total NaN in row 561 : 0
 Total NaN in row 562 : 0
 Total NaN in row 563 : 0
 Total NaN in row 564 : 0
 Total NaN in row 565 : 0
 Total NaN in row 566 : 0
 Total NaN in row 567 : 0
 Total NaN in row 568 : 0
 Total NaN in row 569 : 0
 Total NaN in row 570 : 0
 Total NaN in row 571 : 0
 Total NaN in row 572 : 0
 Total NaN in row 573 : 0
 Total NaN in row 574 : 0
 Total NaN in row 575 : 0
 Total NaN in row 576 : 0
 Total NaN in row 577 : 0
 Total NaN in row 578 : 0
 Total NaN in row 579 : 0
 Total NaN in row 580 : 0
 Total NaN in row 581 : 0
 Total NaN in row 582 : 0
 Total NaN in row 583 : 0
 Total NaN in row 584 : 0
 Total NaN in row 585 : 0
 Total NaN in row 586 : 0
 Total NaN in row 587 : 0
 Total NaN in row 588 : 0
 Total NaN in row 589 : 0
 Total NaN in row 590 : 0
 Total NaN in row 591 : 0
 Total NaN in row 592 : 0
 Total NaN in row 593 : 0
 Total NaN in row 594 : 0
 Total NaN in row 595 : 0
 Total NaN in row 596 : 0
 Total NaN in row 597 : 0
 Total NaN in row 598 : 0
 Total NaN in row 599 : 0
 Total NaN in row 600 : 0
 Total NaN in row 601 : 0
 Total NaN in row 602 : 0
 Total NaN in row 603 : 0
 Total NaN in row 604 : 0
 Total NaN in row 605 : 0
 Total NaN in row 606 : 0
 Total NaN in row 607 : 0
 Total NaN in row 608 : 0
 Total NaN in row 609 : 0
 Total NaN in row 610 : 0
 Total NaN in row 611 : 0
 Total NaN in row 612 : 0
 Total NaN in row 613 : 0
 Total NaN in row 614 : 0
 Total NaN in row 615 : 0
 Total NaN in row 616 : 0
 Total NaN in row 617 : 0
 Total NaN in row 618 : 0
 Total NaN in row 619 : 0
 Total NaN in row 620 : 0
 Total NaN in row 621 : 0
 Total NaN in row 622 : 0
 Total NaN in row 623 : 0
 Total NaN in row 624 : 0
 Total NaN in row 625 : 0
 Total NaN in row 626 : 0
 Total NaN in row 627 : 0
 Total NaN in row 628 : 0
 Total NaN in row 629 : 0
 Total NaN in row 630 : 0
 Total NaN in row 631 : 0
 Total NaN in row 632 : 0
 Total NaN in row 633 : 0
 Total NaN in row 634 : 0
 Total NaN in row 635 : 0
 Total NaN in row 636 : 0
 Total NaN in row 637 : 0
 Total NaN in row 638 : 0
 Total NaN in row 639 : 0
 Total NaN in row 640 : 0
 Total NaN in row 641 : 0
 Total NaN in row 642 : 0
 Total NaN in row 643 : 0
 Total NaN in row 644 : 0
 Total NaN in row 645 : 0
 Total NaN in row 646 : 0
 Total NaN in row 647 : 0
 Total NaN in row 648 : 0
 Total NaN in row 649 : 0
 Total NaN in row 650 : 0
 Total NaN in row 651 : 0
 Total NaN in row 652 : 0
 Total NaN in row 653 : 0
 Total NaN in row 654 : 0
 Total NaN in row 655 : 0
 Total NaN in row 656 : 0
 Total NaN in row 657 : 0
 Total NaN in row 658 : 0
 Total NaN in row 659 : 0
 Total NaN in row 660 : 0
 Total NaN in row 661 : 0
 Total NaN in row 662 : 0
 Total NaN in row 663 : 0
 Total NaN in row 664 : 0
 Total NaN in row 665 : 0
 Total NaN in row 666 : 0
 Total NaN in row 667 : 0
 Total NaN in row 668 : 0
 Total NaN in row 669 : 0
 Total NaN in row 670 : 0
 Total NaN in row 671 : 0
 Total NaN in row 672 : 0
 Total NaN in row 673 : 0
 Total NaN in row 674 : 0
 Total NaN in row 675 : 0
 Total NaN in row 676 : 0
 Total NaN in row 677 : 0
 Total NaN in row 678 : 0
 Total NaN in row 679 : 0
 Total NaN in row 680 : 0
 Total NaN in row 681 : 0
 Total NaN in row 682 : 0
 Total NaN in row 683 : 0
 Total NaN in row 684 : 0
 Total NaN in row 685 : 0
 Total NaN in row 686 : 0
 Total NaN in row 687 : 0
 Total NaN in row 688 : 0
 Total NaN in row 689 : 0
 Total NaN in row 690 : 0
 Total NaN in row 691 : 0
 Total NaN in row 692 : 0
 Total NaN in row 693 : 0
 Total NaN in row 694 : 0
 Total NaN in row 695 : 0
 Total NaN in row 696 : 0
 Total NaN in row 697 : 0
 Total NaN in row 698 : 0
 Total NaN in row 699 : 0
 Total NaN in row 700 : 0
 Total NaN in row 701 : 0
 Total NaN in row 702 : 0
 Total NaN in row 703 : 0
 Total NaN in row 704 : 0
 Total NaN in row 705 : 0
 Total NaN in row 706 : 0
 Total NaN in row 707 : 0
 Total NaN in row 708 : 0
 Total NaN in row 709 : 0
 Total NaN in row 710 : 0
 Total NaN in row 711 : 0
 Total NaN in row 712 : 0
 Total NaN in row 713 : 0
 Total NaN in row 714 : 0
 Total NaN in row 715 : 0
 Total NaN in row 716 : 0
 Total NaN in row 717 : 0
 Total NaN in row 718 : 0
 Total NaN in row 719 : 0
 Total NaN in row 720 : 0
 Total NaN in row 721 : 0
 Total NaN in row 722 : 0
 Total NaN in row 723 : 0
 Total NaN in row 724 : 0
 Total NaN in row 725 : 0
 Total NaN in row 726 : 0
 Total NaN in row 727 : 0
 Total NaN in row 728 : 0
 Total NaN in row 729 : 0
 Total NaN in row 730 : 0
 Total NaN in row 731 : 0
 Total NaN in row 732 : 0
 Total NaN in row 733 : 0
 Total NaN in row 734 : 0
 Total NaN in row 735 : 0
 Total NaN in row 736 : 0
 Total NaN in row 737 : 0
 Total NaN in row 738 : 0
 Total NaN in row 739 : 0
 Total NaN in row 740 : 0
 Total NaN in row 741 : 0
 Total NaN in row 742 : 0
 Total NaN in row 743 : 0
 Total NaN in row 744 : 0
 Total NaN in row 745 : 0
 Total NaN in row 746 : 0
 Total NaN in row 747 : 0
 Total NaN in row 748 : 0
 Total NaN in row 749 : 0
 Total NaN in row 750 : 0
 Total NaN in row 751 : 0
 Total NaN in row 752 : 0
 Total NaN in row 753 : 0
 Total NaN in row 754 : 0
 Total NaN in row 755 : 0
 Total NaN in row 756 : 0
 Total NaN in row 757 : 0
 Total NaN in row 758 : 0
 Total NaN in row 759 : 0
 Total NaN in row 760 : 0
 Total NaN in row 761 : 0
 Total NaN in row 762 : 0
 Total NaN in row 763 : 0
 Total NaN in row 764 : 0
 Total NaN in row 765 : 0
 Total NaN in row 766 : 0
 Total NaN in row 767 : 0
 Total NaN in row 768 : 0
 Total NaN in row 769 : 0
 Total NaN in row 770 : 0
 Total NaN in row 771 : 0
 Total NaN in row 772 : 0
 Total NaN in row 773 : 0