In [2]:
import pandas as pd

In [3]:
csv_name = "data_raw/dhw_5km_db8d_5daf_80ed.csv"

In [4]:
df = pd.read_csv(csv_name, index_col=False)
df.head()

,time,latitude,longitude,CRW_BAA,CRW_BAA_mask,CRW_BAA_7D_MAX,CRW_BAA_7D_MAX_mask,CRW_DHW,CRW_DHW_mask,CRW_HOTSPOT,CRW_HOTSPOT_mask,CRW_SST,CRW_SSTANOMALY,CRW_SSTANOMALY_mask
0,2022-05-27T12:00:00Z,18.375,-65.625,0,0,0,0,0.0,0,-0.98,0,27.57,0.34,0
1,2022-05-27T12:00:00Z,18.375,-65.575,0,0,0,0,0.0,0,-0.96,0,27.58,0.34,0
2,2022-05-27T12:00:00Z,18.375,-65.525,0,0,0,0,0.0,0,-0.95,0,27.58,0.33,0
3,2022-05-27T12:00:00Z,18.325,-65.625,0,0,0,0,0.0,0,-0.88,0,27.68,0.41,0
4,2022-05-27T12:00:00Z,18.325,-65.575,0,0,0,0,0.0,0,-0.86,0,27.69,0.41,0

In [5]:
df.columns.str.strip().str.lower()

Index(['time', 'latitude', 'longitude', 'crw_baa', 'crw_baa_mask',
       'crw_baa_7d_max', 'crw_baa_7d_max_mask', 'crw_dhw', 'crw_dhw_mask',
       'crw_hotspot', 'crw_hotspot_mask', 'crw_sst', 'crw_sstanomaly',
       'crw_sstanomaly_mask'],
      dtype='object')